body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    align-items: center;
     background-color: #001f3f;
}

h1 {
    color: orange;
}

h2 {
    color: red;
}

p {
    color: white;
    font-size: 20px;
}
img {
    max-width: 40%;
    height: auto;
}

button {
  padding: 20px 40px;
  font-size: 24px;
  border-radius: 10px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  padding: 10px;
}

.main-content{
 flex: 1;
 padding: 20px;
 align-items: center;

}

.side-image {
  width: 200px;
  height: auto;
}

.finalimage {
 width: 600px; 
  height: auto; 
  display: block; 
  margin: 0 auto;
}
